*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


header{
   display: flex;
   justify-content: space-between;
}

.heading{
    line-height: 0rem;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}

.heading_1{
    font-size: 40px;
    margin-bottom: 16px;
}


img{
    width: 30px;
    height:30px
 }

.site_logo{
   font-size: 5rem;
   margin: 2rem 2rem 2rem 3rem;
   font-style: italic;
}

 .container{
    display: flex;
    justify-content: space-between;
 }

 .analysis{
    display: flex;
  padding: 1rem;
  text-align: center;
  color: white;
 }

 .impressions{
  
   margin-right: 10px;
   padding: 0rem 3rem 0rem 3rem;
   border: 0px solid black;
   border-radius: 1rem;
   height: 8rem;
    background-color: rgb(44, 44, 145);
 }

 .reach{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0rem 3rem 0rem 3rem;
    border: 0px solid black;
    border-radius: 1rem;
    height: 8rem;
    background-color: aquamarine;
 }

 .spent{
   margin-left: 10px;
   margin-right: 10px;
   padding: 0rem 3rem 0rem 3rem;
   border: 0px solid black;
   border-radius: 1rem;
   height: 8rem;
   background-color: gold;
 }

 .title{
   margin-bottom: 5px;
 }

 .numberreached{
   font-size: 2rem;
   margin: 0rem;
 }

 .month_graph{
    height: 12rem;
    width: 25rem;
    margin-right: 2rem;
 }

 .line_graph{
   display: flex;
   justify-content: center;
   margin: 1rem;
 }

 .dotted_graph{
   height: 20rem;
    width: 60rem;
    border: 1px solid black;
     border-radius:1rem ;
    padding: 1rem;
   
 }
